#heading{
 
  width: 100%;
    background-color: rgba(23, 108, 237, 0.422);
    color: rgb(246, 240, 240);
    text-align: center ;
}
.paragraf{
    background-color: rgb(232, 13, 13);
    color: rgb(0, 0, 0);
    text-align: center;
}
.secondtital{
  
    text-align: left;
}
.description{
    background-color: rgba(115, 198, 223, 0.566);
    color: rgb(74, 69, 69);
    text-align: left;
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
}
.nav{
  position: sticky;
  top: 0;
  width: 100%;
  ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
}
li{
    background-color: rgba(237, 48, 240, 0);
    color: rgb(0, 0, 0);
    text-align: left;
}
ol{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
}
body{
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
.btn-login{
    background-color: blue;
    padding :10px;
    color: white;
    font-size: larger;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: 1000;
    cursor: pointer;
}
.btn-login:hover{
    background-color: rgb(9, 9, 171);
}
.btn-login:active{
    background-color: rgb(0, 0, 255);
    
}

